<!DOCTYPE html>
<!--
{% macro pagination(url, page) %}
    <ul class="uk-pagination">
        {% if page.has_previous %}
            <li><a href="{{ url }}{{ page.page_index - 1 }}"><i class="uk-icon-angle-double-left"></i></a></li>
        {% else %}
            <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
        {% endif %}
            <li class="uk-active"><span>{{ page.page_index }}</span></li>
        {% if page.has_next %}
            <li><a href="{{ url }}{{ page.page_index + 1 }}"><i class="uk-icon-angle-double-right"></i></a></li>
        {% else %}
            <li class="uk-disabled"><span><i class="uk-icon-angle-double-right"></i></span></li>
        {% endif %}
    </ul>
{% endmacro %}
-->
<html>
<head>
    <meta charset="utf-8" />
    {% block meta %}<!-- block meta  -->{% endblock %}
    <title>{% block title %} ? {% endblock %} - Deep run</title>
    <link rel="icon" href="/static/img/icon.png" type="image/x-icon">
    <link rel="shortcut icon" href="/static/img/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/uikit/css/uikit.min.css"/>
	<!--<link rel="stylesheet" href="/static/uikit/css/uikit-rtl.min.css"/>-->
    <link rel="stylesheet" href="/static/css/awesome.css" />
    <link rel="stylesheet" href="/static/css/code.css" />
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/sha1.min.js"></script>
	<script src="/static/uikit/js/uikit.min.js"></script>
	<script src="/static/uikit/js/uikit-icons.min.js"></script>
    <script src="/static/js/sticky.min.js"></script>
    <script src="/static/js/vue2.min.js"></script>
    <script src="/static/js/awesome.js"></script>
	<script type="text/x-mathjax-config">
	MathJax.Hub.Config({
		extensions: ["tex2jax.js"],
		jax: ["input/TeX", "output/HTML-CSS"],
		tex2jax: {
			inlineMath: [['$','$'], ['\\(','\\)']],
			displayMath: [['$$','$$'], ['\\[','\\]']],
			processEscapes: true
		},
		"HTML-CSS": { availableFonts: ["TeX"] }
	});
	</script>
	<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML" async></script>
    {% block beforehead %}<!-- before head  -->{% endblock %}
</head>
<body>
<div uk-sticky="media: 960" class="tm-navbar-container uk-sticky uk-active uk-sticky-below uk-sticky-fixed" style="background: linear-gradient(to left, #28a5f5, #1e87f0);">
	<div class="uk-container">
		<nav class="uk-visible@m uk-navbar-transparent uk-light uk-navbar" uk-navbar>
			<div class="uk-navbar-left">
				<a href="/" class="uk-navbar-item uk-logo">Deep run</a>
				<ul class="uk-navbar-nav">
					<li class="uk-active" data-url="blogs"><a href="/">笔记</a></li>
					<li><a href="/page/books">读书</a></li>
				</ul>
			</div>
			<div class="uk-navbar-right">
				<ul class="uk-navbar-nav">
				{% if __user__ %}
					<li>
						<a href="#0"><i uk-icon="icon: user"></i> {{ __user__.name }}</a>
						<div class="uk-navbar-dropdown">
							<ul class="uk-nav uk-navbar-dropdown-nav">
								<li><a href="/signout"><i uk-icon="icon: sign-out"></i> 退出</a></li>
							</ul>
						</div>
					</li>
	            {% else %}
					<li>
						<a href="#0"><i uk-icon="icon: user" class="uk-icon-link uk-icon"></i></a>
						<div class="uk-navbar-dropdown">
							<ul class="uk-nav uk-navbar-dropdown-nav">
								<li><a href="/signin"><i uk-icon="icon: sign-in"></i> 登录</a></li>
								<li><a href="/register"><i uk-icon="icon: pencil"></i> 注册</a></li>
							</ul>
						</div>
					</li>
	            {% endif %}
				</ul>
			</div>
	    </nav>
	</div>
</div>

    <div class="uk-container uk-container-center">
        <div class="uk-grid uk-margin-top">
            <!-- content -->
            {% block content %}
            {% endblock %}
            <!-- // content -->
        </div>
    </div>

    <div class="uk-margin-large-top uk-background-secondary uk-padding">
        <div class="uk-container uk-container-center uk-text-center">
            <div class="uk-panel uk-margin-top uk-margin-bottom">
                <p>
                    <a target="_blank" href="https://github.com/peedeep" uk-icon="icon: github" class="uk-icon-link uk-icon"></a>
                </p>
                <p>Powered by <a class="uk-link-text" href="http://deep.run">深度学习</a>. Copyright &copy; 2020. [<a class="uk-link-text" href="/manage/" target="_blank">Manage</a>]</p>
                <p><a class="uk-link-text" href="http://deep.run" target="_blank">www.deep.run</a>. All rights reserved.</p>
				<p><a class="uk-link-text" href="http://beian.miit.gov.cn/">赣ICP备20007269号-1</a></p>
            </div>

        </div>
    </div>
</body>
</html>
