{% extends '__base__.html' %}

{% block title %}学习笔记{% endblock %}

{% block beforehead %}

<script>
</script>

{% endblock %}

{% block content %}

    <div class="uk-width-3-4">
    {% for blog in blogs %}
        <article class="uk-article">
            <h3><a href="/blog/{{ blog.id }}">{{ blog.name }}</a></h3>
            <p class="uk-article-meta uk-margin-remove">发表于{{ blog.created_at|datetime }}</p>
            <p>{{ blog.summary }}</p>
            <p><a href="/blog/{{ blog.id }}">继续阅读 <i class="uk-icon-angle-double-right"></i></a></p>
        </article>
        <hr class="uk-article-divider">
    {% endfor %}
    </div>

    <div class="uk-width-1-4">
        <div class="uk-panel uk-panel-header">
            <h3 class="uk-panel-title">友情链接</h3>
            <ul class="uk-list uk-list-line">
				<li><i uk-icon="icon: link"></i><a target="_blank" href="https://github.com/peedeep">编程</a></li>
				<li><i uk-icon="icon: link"></i><a target="_blank" href="/books">读书</a></li>
            </ul>
        </div>
    </div>

{% endblock %}
