{% extends '__base__.html' %}

{% block title %}用户{% endblock %}

{% block beforehead %}

<script>

function initVM(data) {
    $('#app').show();
    var vm = new Vue({
        el: '#app',
        data: {
            users: data.users,
            page: data.page
        },
		methods: {
			click_previous: function() {
				getPageUsers(vm, this.page.page_index - 1)
			},	
			click_next: function() {                          
				getPageUsers(vm, this.page.page_index + 1);
			}
		}
    });
}

function getPageUsers(vm, page_index) {
	getJSON('/api/users', { 
	   page: page_index       
	}, function(err, results) {
		if (err) {                                      
			return fatal(err);                          
		}
		Vue.set(vm.$data, "users", results.users);
		Vue.set(vm.$data, "page", results.page);
	});
}

$(function() {
    getJSON('/api/users', {
        page: {{ page_index }}
    }, function (err, results) {
        if (err) {
            return fatal(err);
        }
        $('#loading').hide();
        initVM(results);
    });
});

</script>

{% endblock %}

{% block content %}

    <div class="uk-width-1-1 uk-margin-bottom">
        <div class="uk-panel uk-panel-box">
            <ul class="uk-breadcrumb">
                <li><a href="/manage/comments">评论</a></li>
                <li><a href="/manage/blogs">笔记</a></li>
                <li class="uk-active"><span>用户</span></li>
            </ul>
        </div>
    </div>

    <div id="error" class="uk-width-1-1">
    </div>

    <div id="loading" class="uk-width-1-1 uk-text-center">
        <span><i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i> 正在加载...</span>
    </div>

    <div id="app" class="uk-width-1-1">
        <table class="uk-table uk-table-striped uk-table-middle uk-table-hover">
            <thead>
                <tr>
                    <th class="uk-width-2-5">名字</th>
                    <th class="uk-width-2-5">电子邮件</th>
                    <th class="uk-width-1-5">注册时间</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="user in users" >
                    <td>
                        <span v-text="user.name"></span>
                        <span v-if="user.admin" style="color:#d05"><i class="uk-icon-key"></i> 管理员</span>
                    </td>
                    <td>
                        <a v-bind="'mailto:'+user.email" v-text="user.email"></a>
                    </td>
                    <td>
                        <span v-text="user.created_at.toDateTime()"></span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
			<ul class="uk-pagination uk-flex-center" uk-margin>
				<li v-bind:class="!page.has_previous ? 'uk-disabled' : ''"><a href="#0" v-on:click="click_previous()"><span uk-pagination-previous></span></a></li>
				<li class="uk-active"><span v-text="page.page_index"></span></li>
				<li v-bind:class="!page.has_next ? 'uk-disabled' : ''"><a href="#0" v-on:click="click_next()"><span uk-pagination-next></span></a></li>
			</ul>
		</div>
    </div>

{% endblock %}
