{% extends '__base__.html' %}

{% block title %}评论{% endblock %}

{% block beforehead %}

<script>

function initVM(data) {
    $('#app').show();
    var vm = new Vue({
        el: '#app',
        data: {
            comments: data.comments,
            page: data.page,
        },
        methods: {
            delete_comment: function (comment) {
                var content = comment.content.length > 20 ? comment.content.substring(0, 20) + '...' : comment.content;
                if (confirm('确认要删除评论“' + comment.content + '”？删除后不可恢复！')) {
                    postJSON('/api/comments/' + comment.id + '/delete', function (err, r) {
                        if (err) {
                            return error(err);
                        }
                        refresh();
                    });
                }
            },
            click_previous: function() {
			    getPageComments(vm, this.page.page_index - 1);
			},
            click_next: function() {
				getPageComments(vm, this.page.page_index + 1);
			}
        }
    });
}

function getPageComments(vm, page_index) {
	getJSON('/api/comments', {
		page: page_index
	}, function(err, results) {
		if (err) {
			return fatal(err);
		}
		Vue.set(vm.$data, "comments", results.comments);
		Vue.set(vm.$data, "page", results.page);
	})
}

function getComments(index) {
    getJSON('/api/comments', {
        page: index
    }, function (err, results) {
        if (err) {
            return fatal(err);
        }
        $('#loading').hide();
        initVM(results);
    });
};

$(getComments({{ page_index }}));

</script>

{% endblock %}

{% block content %}

    <div class="uk-width-1-1 uk-margin-bottom">
        <div class="uk-panel uk-panel-box">
            <ul class="uk-breadcrumb">
                <li class="uk-active"><span>评论</span></li>
                <li><a href="/manage/blogs">笔记</a></li>
                <li><a href="/manage/users">用户</a></li>
            </ul>
        </div>
    </div>

    <div id="error" class="uk-width-1-1">
    </div>

    <div id="loading" class="uk-width-1-1 uk-text-center">
        <span><i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i> 正在加载...</span>
    </div>

    <div id="app" class="uk-width-1-1" style="display:none">
        <table class="uk-table uk-table-striped uk-table-middle uk-table-hover">
            <thead>
                <tr>
                    <th class="uk-width-1-5">作者</th>
                    <th class="uk-width-1-2">内容</th>
                    <th class="uk-width-1-5">创建时间</th>
                    <th class="uk-width-1-10">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="comment in comments">
                    <td>
                        <span v-text="comment.user_name"></span>
                    </td>
                    <td>
                        <span v-text="comment.content"></span>
                    </td>
                    <td>
                        <span v-text="comment.created_at.toDateTime()"></span>
                    </td>
                    <td>
                        <a href="#0" v-on:click="delete_comment(comment)"><i uk-icon="icon: trash"></i>
                    </td>
				</tr>
            </tbody>
		</table>
        <div>
			<ul class="uk-pagination uk-flex-center" uk-margin>
					<li v-bind:class="!page.has_previous ? 'uk-disabled' : ''"><a href="#0" v-on:click="click_previous()"><span uk-pagination-previous></span></a></li>
					<li class="uk-active"><span v-text="page.page_index"></span></li>
					<li v-bind:class="!page.has_next ? 'uk-disabled' : ''"><a href="#0" v-on:click="click_next()"><span uk-pagination-next></span></a></li>
			</ul>
		</div>
    </div>
{% endblock %}
