<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <title>登录 - Deep run</title>
    <link rel="stylesheet" href="/static/uikit/css/uikit.min.css"/>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/sha1.min.js"></script>
    <script src="/static/uikit/js/uikit.min.js"></script>
	<script src="/static/uikit/js/uikit-icons.min.js"></script>
    <script src="/static/js/vue2.min.js"></script>
    <script src="/static/js/awesome.js"></script>
    <script>

$(function() {
    var vmAuth = new Vue({
        el: '#vm',
        data: {
            email: '',
            passwd: ''
        },
        methods: {
            submit: function(event) {
                event.preventDefault();
                var
                    $form = $('#vm'),
                    email = this.email.trim().toLowerCase(),
                    data = {
                        email: email,
                        passwd: this.passwd==='' ? '' : CryptoJS.SHA1(email + ':' + this.passwd).toString()
                    };
                $form.postJSON('/api/authenticate', data, function(err, result) {
                    if (! err) {
                        location.assign('/manage/comments');
                    }
                });
            }
        }
    });
});

    </script>
</head>
<body>

<div>
    <div class="uk-inline">
		<img class="" src="http://www.getuikit.net/skin/ukv3/images/photo.jpg" width="2000" height="1000" alt="">
        <div class="uk-position-top-center uk-card uk-card-default uk-card-body uk-margin-xlarge uk-padding-large" style="width: 480px">
            <p><a href="/">Deep run</a></p>
            <form id="vm" v-on:submit.prevent="submit">
                <div class="uk-alert uk-alert-danger uk-hidden"></div>
                <div class="uk-margin">
                    <div class="uk-inline">
                        <i class="uk-form-icon" uk-icon="icon: user"></i>
                        <input v-model="email" name="email" type="text" class="uk-input" id="form-stacked-text" placeholder="邮箱" maxlength="50">
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-inline">
                        <i class="uk-form-icon" uk-icon="icon: lock"></i>
                        <input v-model="passwd" name="passwd" type="password" class="uk-input" id="form-stacked-text" placeholder="密码" maxlength="50">
                    </div>
                </div>
                <div class="uk-margin">
                    <button type="submit" class="uk-button uk-button-primary">登录</button>
                </div>
            </form>
        </div>
		<div class="uk-margin-large"></div>
    </div>
</div>

</body>
</html>
